* {
  padding: 0;
  margin: 0;
}

.inter {
  font-family: "Inter", sans-serif;
}

.Merriweather {
  font-family: "Merriweather", serif;
}

header {
  background-image: url("../resources/Banner\ Image.png");
  height: 520px;
  margin: 50px 120px 0 120px;
  border-radius: 16px;
  color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
}

.banner {
  text-align: center;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}
header > div > h5 {
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  padding-top: 145px;
}

header > div > h2 {
  font-size: 72px;
  margin-bottom: 175px;
}

/* styles of main */

.main-one {
  height: 780px;
  margin: 120px 400px 120px 400px;
}

.offer {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  padding-bottom: 50px;
}

.deals {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.categories {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  padding-top: 16px;
  padding-bottom: 50px;
}

.main-image1 {
  display: flex;
  justify-content: center;
  height: 500px;
}

/* styles of main tho */

.main-two {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
  url("../resources/Vectorrr.png");
  height: 600px;
  width: 1320px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 140px 0 140px;
  display: flex;
  justify-content: space-between;
  margin-right: 140px;
}

.welcome {
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  padding: 125px 0 0 125px;
}

.welcome-pera {
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  font-weight: 400;
  padding-left: 125px;
}

.welcome-btn {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  padding: 50px 0 0 160px;
  border: none;
}

.main-tho-image {
  width: 320px;
  height: 465px;
  padding: 70px 148px 78px 0;
}

/* styles of main three */

.main-three {
  margin: 140px;
}

.main-three-h4 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}

.main-three-h2 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding: 20px 0 20px 0;
}

.main-three-p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 50px;
}

.main-3p1 {
  display: flex;
  padding: 0 0 25px 0;
  gap: 25px;
}

.main-3p2 {
  display: flex;
  gap: 25px;
}

.rect4 {
  border-right: 10px solid black;
}

.main-four {
  width: 1300px;
  height: 600px;
  background-color: rgba(255, 0, 0, 0.05);
  margin: 0 140px 0 140px;
}

.letter {
  width: 150px;
  height: 150px;
  padding: 80px 585px 0 585px;
}

.newsletter {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding: 40px 0 22px 0;
}

.letter-p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.subscribe {
  width: 210px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: none;
  color: white;
}

.email {
  width: 648px;
  height: 72px;
  border: none;
  border-radius: 50px 0 0 50px;
  text-align: center;
}

.eml-sub {
  padding: 48px 300px 80px 300px;
  display: flex;
}

.main-five {
  background: #070211;
  height: 600px;
  margin-top: 120px;
}

.adress {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding: 120px 0 0 140px;
}

.adress-phone {
  display: flex;
  gap: 300px;
  padding-bottom: 50px;
}

.phone {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding: 120px 290px 0 0;
}

.social {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 48px 0 48px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin: 0 140px 0 140px;

}

.copyright {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 120px 0;
  margin: 0 140px 0 140px;
}
